.container{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  /* justify-content:center ; */
  align-items: center;
  height: 400px;
  margin-left: 290px;
  margin-right: 360px;
  margin-top: 250px;
}

.loginHeading{
  margin-top: 30px;
  border-radius: 9px;
  background-color: aliceblue;
}
.loginHeading p{
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.inner{
  justify-content: center;
  margin: 60px;
  margin-top: 15px; 
}
.inner .error{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 250px;
  height: 20px;

}
.inner .error p{
    color: red;
}
.email{
  padding: 18px;
  display: flex;
  flex-direction: row;
 
}
.email label{
  width: 60px;
}

.pass{
  padding: 18px;
  display: flex;
  flex-direction: row;

}
.pass label{
  width: 60px;
}
.emailFeild{
  margin-left: 10px;
}
.passwordFeild{
  margin-left: 10px;
}

.inner .submit{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 18px; 
}
.btn{
  margin-right: 3px;
}